.homePage {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  .user {
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow: hidden;
    span {
      margin: 5px 0;
      color: rgb(240, 105, 47);
    }
  }
}
