.AuthPageWrapp{
	display: flex;
	height: 75vh;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.949);

	.formWrapp{
		display: flex;
		position: relative;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.82);
		height: 400px;
		width: 800px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.604);

		.leftSide{
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			width: 300px;
			background-color: rgba(216, 148, 0, 0.837);
			
			h4{
				text-align: center;
				font-size: 46px;
				line-height: 43px;
				font-weight: 200;
				color: rgb(255, 255, 255);
				margin-top: 100px;
			}
			.circle{
				position: absolute;
				bottom: -100px;
				left: 30px;
				height: 300px;
				width: 300px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.22);
				z-index: 2;
			}
			.c2{
				bottom: 100px;
				left: -70px;
				height: 150px;
				width: 150px;
			}
			.c3{
				bottom: -100px;
				left: -100px;
				height: 300px;
				width: 300px;
			}
			.c4{
				bottom: -50px;
				left: -50px;
				height: 100px;
				width: 100px;
			}
			.c5{
				bottom: 70px;
				left: 250px;
				height: 150px;
				width: 150px;
			}

		}
		.rightSide{
			display: flex;
			align-items: center;
			margin: 0 auto;
			form{
				display: flex;
				flex-direction: column;
				label{
					display: flex;
					flex-direction: column;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 11px;
					color: rgba(0, 0, 0, 0.689);
					margin-bottom: 4px;
					input{
						width:300px;
						padding: 5px 15px;
						font-size: 15px;
						line-height: 12px;
						border: none;
						border-bottom: 2px solid rgba(200, 200, 200, 0.653);
						background: none;
						outline: none;
						margin: 5px 0 0;
					}
					.error{
						height: 13px;
						color:red;
						font-size: 10px;
						line-height: 13px;
					}
				}
				button[type="submit"]{
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 20px;
					border: none;
					background-color: rgba(216, 148, 0, 0.837);
					color: #fff;
					font-size: 16px;
					line-height: 13px;
					font-weight: 500;
					letter-spacing: 0.5px;
					margin-top: 30px;
					padding: 10px 30px;
					outline: none;
					cursor: pointer;
					transition: all 0.5s;
				}
				input[type="button"]:hover{
					background-color: rgba(7, 132, 84, 0.878);
				}
			}

		}
	}
}